<div class="col-xs-12 col-md-12 col-lg-12" style="margin-top: 25px; margin-bottom: 25px;"> <!--Menu-->
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-1">

        </div>
        <div class="col-xs-12 col-md-12 col-lg-2">
          
            <img class="main-logo" src="../../../assets/images/Logo-SanFelipe.png" class="logo-sf" height="130px" width="25%" alt="">
            
        </div>
        <div class="col-xs-12 col-md-12 col-lg-8">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <nav>
                    <ul class="menu">
                        <li class="item"><i></i><a href="#">Inicio</a></li>
                        <li class="item"><a href="#">Eventos</a></li>
                        <li class="item"><a href="#">Nuestra SEDE</a></li>
                        <li class="item"><a href="#">Actitud SF</a></li>
                        <li class="item"><a href="#">Blog</a></li>
                        <li class="item"><a href="#">Contáctanos</a></li>
                        <!-- <li class="item button"><a href="#">Log In</a></li>
                                    <li class="item button secondary"><a href="#">Sign Up</a></li> -->
                        <li class="toggle"><a href="#"><i class="bars"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="lineaDorada">
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="lineaDoradaStrong">
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-1"></div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12"> <!--Banner img-->
    <div class="container-all">
        <input type="radio" id="1" name="image-salide" hidden />
        <input type="radio" id="2" name="image-salide" hidden />
        <input type="radio" id="3" name="image-salide" hidden />
        <input type="radio" id="4" name="image-salide" hidden />
        <div class="slide">
            <div class="item-slide">
                <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-03.png" alt="">
            </div>
            <div class="item-slide">
                <img class="resize_fit_center img-banner " src="../../../assets/images/img2.jpg" alt="">
            </div>
            <div class="item-slide">
                <img class="resize_fit_center img-banner " src="../../../assets/images/img3.jpg" alt="">
            </div>
            <div class="item-slide">
                <img class="resize_fit_center img-banner " src="../../../assets/images/img4.jpg" alt="">
            </div>
        </div>
        <div class="pagination">
            <label class="pagination-item" for="1">
                <img src="../../../assets/images/Eventos-SF-03.png" alt="">
            </label>
            <label class="pagination-item" for="2">
                <img src="../../../assets/images/img2.jpg" alt="">
            </label>
            <label class="pagination-item" for="3">
                <img src="../../../assets/images/img3.jpg" alt="">
            </label>
            <label class="pagination-item" for="4">
                <img src="../../../assets/images/img4.jpg" alt="">
            </label>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12" class="title-ev"> <!--titulo Nuestros eventos-->
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>Nuestros eventos <strong>San Felipe</strong></h1>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="lineaDorada-ev">
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="lineaDoradaStrong-ev">
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12"> <!--eventos-->
    <div class="conten-eventos">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="portafolio">
               
                    <div class="portafolio-container">
                    <section class="portafolio-item">
                        <img src="../../../assets/images/Eventos-SF-33.png" alt="" class="portafolio-img">    
                            <section class="portafolio-text">
                                <img src="../../../assets/images/Eventos-SF-29.png" alt="" style="width: 50%;">
                                <p>Matrimonio </p>
                                <label style="font-size: 19px;">Una experiencia de amor</label>
                            </section> 
                    </section>
                    <section class="portafolio-item">
                        <img src="../../../assets/images/Eventos-SF-34.png" alt="" class="portafolio-img">
                        <section class="portafolio-text">
                            <img src="../../../assets/images/Eventos-SF-30.png" alt="" style="width: 50%;">
                            <p>Matrimonio </p>
                            <label>De niña a mujer</label>
                        </section>
                    </section>
                    <section class="portafolio-item">
                        <img src="../../../assets/images/Eventos-SF-35.png" alt="" class="portafolio-img">
                        <section class="portafolio-text">
                            <img src="../../../assets/images/Eventos-SF-31.png" alt="" style="width: 30%;">
                            <p>Primera comunion </p>
                            <label>El cambio desde el corazón </label>
                        </section>
                    </section>
                    </div>
                </div>
                <!-- <div class="col-xs-12 col-md-4 col-lg-4 img-ev" >
                    <img src="../../../assets/images/Eventos-SF-33.png" alt="" style="width: 100%;">
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 img-ev" >
                    <img src="../../../assets/images/Eventos-SF-34.png" alt="" style="width: 100%;">
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 img-ev" >
                    <img src="../../../assets/images/Eventos-SF-35.png" alt="" style="width: 100%;">
                </div> -->
            </div>
        
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-12"> <!--Reserva-->
    <div class="container-reserva">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-04.png" alt="">
            <div class="contenedor-txt">
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <p class="texto-sobrepuesto-20">Reserva para el 2020</p>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <p class="texto-sobrepuesto-19">con precios del 2019</p>
                </div>
                <br>
                <div class="col-xs-12 col-md-12 col-lg-12">
                    <div class="lineaDorada-rs">
                    </div>
                    <div class="lineaDoradaStrong-rs">
                    </div>
                </div>
            </div>
           
        </div>
     
    </div>

</div>
<div class="col-xs-12 col-md-12 col-lg-12"> <!--Hora de celebrar-->
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6">
            <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-05.png" alt="">
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
            <p class="text-hora-celebrar">Es hora de celebrar </p>
            <br>
            <p class="text-hora-negrita">Temática vintage</p> 
        </div>
    </div>
</div>  
<div class="col-xs-12 col-md-12 col-lg-12" class="title-as"><!--titulo Asi lo viviras-->
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>Así lo viviras</h1>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="lineaDorada-ev">
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="lineaDoradaStrong-ev">
        </div>
    </div>
</div>
 <div class="col-xs-12 col-md-12 col-lg-12"><!-- Asi lo viviras -->
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div id="imgen" class="divImg">
                <!-- <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-06.png" alt=""> -->
                <div id="info">
                    <p id="headline"><img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-16.png" alt=""></p>
                    <p id="infoInt1">Saldos y retención</p>
                    <p id="infoInt2">Saldos y retención</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div id="imgen" style="background-image: url(../../../assets/images/Eventos-SF-07.png) !important;     background-repeat: no-repeat; background-size: 100% 100%;
                height: max-content;
                height: 435px;">
                <!-- <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-06.png" alt=""> -->
                <div id="info">
                <p id="headline"><img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-16.png" alt=""></p>
                    <p id="infoInt1">Saldos y retención</p>
                    <p id="infoInt2">Saldos y retención</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div id="imgen" style="background-image: url(../../../assets/images/Eventos-SF-08.png) !important;     background-repeat: no-repeat; background-size: 100% 100%;
                        height: max-content;
                        height: 435px;">
                <!-- <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-06.png" alt=""> -->
                <div id="info">
                    <p id="headline"><img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-16.png" alt=""></p>
                    <p id="infoInt1">Saldos y retención</p>
                    <p id="infoInt2">Saldos y retención</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div id="imgen" style="background-image: url(../../../assets/images/Eventos-SF-09.png) !important;     background-repeat: no-repeat; background-size: 100% 100%;
                                height: max-content;
                                height: 435px;">
                <!-- <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-06.png" alt=""> -->
                <div id="info">
                    <p id="headline"><img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-16.png" alt=""></p>
                    <p id="infoInt1">Saldos y retención</p>
                    <p id="infoInt2">Saldos y retención</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div id="imgen" style="background-image: url(../../../assets/images/Eventos-SF-10.png) !important;     background-repeat: no-repeat; background-size: 100% 100%;
                                height: max-content;
                                height: 435px;">
                <!-- <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-06.png" alt=""> -->
                <div id="info">
                    <p id="headline"><img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-16.png" alt=""></p>
                    <p id="infoInt1">Saldos y retención</p>
                    <p id="infoInt2">Saldos y retención</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div id="imgen" style="background-image: url(../../../assets/images/Eventos-SF-11.png) !important;     background-repeat: no-repeat; background-size: 100% 100%;
                                height: max-content;
                                height: 435px;">
                <!-- <img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-06.png" alt=""> -->
                <div id="info">
                    <p id="headline"><img class="resize_fit_center img-banner " src="../../../assets/images/Eventos-SF-16.png" alt=""></p>
                    <p id="infoInt1">Saldos y retención</p>
                    <p id="infoInt2">Saldos y retención</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-12 col-lg-12"> <!--img 360-->
    <div class="container-360">
        <div class="capa-gradiente"></div>
        <div class="logo-title">

        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12"> <!--img info-->

</div>
<div class="col-xs-12 col-md-12 col-lg-12" class="title-as"><!--titulo Nuestro personal-->
    <div class="col-xs-12 col-md-12 col-lg-12">
        <h1>Nuestro personal</h1>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="lineaDorada-ev">
        </div>
    </div>
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="lineaDoradaStrong-ev">
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12"><!--Nuestro personal-->
  
    <!-- <div class="slider owl-carousel">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="img"><img src="../../../assets/images/perfil1.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Briana Tozoru</div>
                        <div class="sub-title">Graphic Designer</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                        book.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="img"><img src="../../../assets/images/Perfil2.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Briana Tozoru</div>
                        <div class="sub-title">Graphic Designer</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                            type specimen
                            book.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="img"><img src="../../../assets/images/Perfil3.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Briana Tozoru</div>
                        <div class="sub-title">Graphic Designer</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                            type specimen
                            book.</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="card">
                    <div class="img"><img src="../../../assets/images/Perfil4.jpg" alt=""></div>
                    <div class="content">
                        <div class="title">Briana Tozoru</div>
                        <div class="sub-title">Graphic Designer</div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard
                            dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
                            type specimen
                            book.</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div> -->

    <div class="card-carousel">
        
        <div class="my-card"></div>
        
        <div class="my-card"></div>
        
        <div class="my-card"></div>
        
        <div class="my-card"></div>
        
        <div class="my-card"></div>
       
    </div>

</div>
<div class="col-xs-12 col-md-12 col-lg-12" id="pie"><!--footer1-->
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-4">
                <img src="../../../assets/images/Eventos-SF-26.png" alt="" width="5%"> &nbsp; +57 4 366 06 33
            </div>
            <div class="col-xs-12 col-md-12 col-lg-4">
                <img src="../../../assets/images/Eventos-SF-27.png" alt="" width="5%"> &nbsp; info@eventossanfelipe.com
            </div>
            <div class="col-xs-12 col-md-12 col-lg-4">
                <img src="../../../assets/images/Eventos-SF-28.png" alt="" width="5%"> &nbsp; Transversal 39 B # 72 63
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-md-12 col-lg-12" id="pie2"><!--footer2-->
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div>
            Eventos san felipe - Derechos reservados @ 2019
        </div>
    </div>
</div>

<script>
    $num = $('.my-card').length;
        $even = $num / 2;
        $odd = ($num + 1) / 2;

        if ($num % 2 == 0) {
            $('.my-card:nth-child(' + $even + ')').addClass('active');
            $('.my-card:nth-child(' + $even + ')').prev().addClass('prev');
            $('.my-card:nth-child(' + $even + ')').next().addClass('next');
        } else {
            $('.my-card:nth-child(' + $odd + ')').addClass('active');
            $('.my-card:nth-child(' + $odd + ')').prev().addClass('prev');
            $('.my-card:nth-child(' + $odd + ')').next().addClass('next');
        }

        $('.my-card').click(function () {
            $slide = $('.active').width();
            console.log($('.active').position().left);

            if ($(this).hasClass('next')) {
                $('.card-carousel').stop(false, true).animate({ left: '-=' + $slide });
            } else if ($(this).hasClass('prev')) {
                $('.card-carousel').stop(false, true).animate({ left: '+=' + $slide });
            }

            $(this).removeClass('prev next');
            $(this).siblings().removeClass('prev active next');

            $(this).addClass('active');
            $(this).prev().addClass('prev');
            $(this).next().addClass('next');
        });


        // Keyboard nav
        $('html body').keydown(function (e) {
            if (e.keyCode == 37) { // left
                $('.active').prev().trigger('click');
            }
            else if (e.keyCode == 39) { // right
                $('.active').next().trigger('click');
            }
        });
</script>